{
  auto_https off
}

:8081 {
  handle /internal-console* {
    reverse_proxy console:3000
  }

  handle /internal/* {
    reverse_proxy coordinator:8080
  }

  handle /v1/* {
    reverse_proxy coordinator:8080
  }

  handle /healthz {
    reverse_proxy coordinator:8080
  }
}
