THIRDSHIFT_COORDINATOR_ADDR=:8080
THIRDSHIFT_VERSION=0.1.0-alpha.0
THIRDSHIFT_POSTGRES_PORT=5432
THIRDSHIFT_DATABASE_URL=postgres://thirdshift:replace-me-local-only@localhost:5432/thirdshift?sslmode=disable
